.show-detail-page {
}

.show-detail-page nav button {
  background-color: #9e0000;
  cursor: pointer;
}

.show-detail-page nav > *:not(:last-child) {
  margin: 0 1rem 0 0;
}

form.create-show {
  max-width: 700px;
  margin: 0 auto;
}
